{% extends "slides_master.html" %}
{% block title %}How to PR like a Pro{% endblock %}
{% block content %}

    <section>
        <h2>How to PR like a Pro</h2>
        <small>Don Brown<br/>CTO/Co-founder, Sleuth</small>
    </section>

    <section>
        <h3>Is this you?</h3>
    </section>

    <section data-background-video="{{ url_for('static', filename='videos') }}/go-fast-clip-1.mp4">
    </section>

    <section data-background-image="https://www.devops-research.com/images/resources-2021-sodr-cover_2x.png"
    data-background-position="left">
    </section>

    <section>
        <section>
            <h3>Two types of teams</h3>
            <ol>
                <li class="fragment">Those that want to go faster</li>
                <li class="fragment">Those that want stay fast</li>
            </ol>
        </section>
        <section data-background-image="{{ url_for('static', filename='images') }}/raised-hands-1280.jpg">
            <p style="color: black">How many of you feel your team is fast enough?</p>
            <br />
            <br />
        </section>
    </section>

    <section>
        <h3>Pull Requests are key</h3>
        <p>
            Sometimes, you need to slow down to go fast
        </p>
    </section>

    <section data-background-image="{{ url_for('static', filename='images') }}/slow-snail.jpg">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3>... but not too slow</h3>
    </section>

    <section>
        <h2>Ground rules</h2>
            <ol class="fragment">
                <li>Ask questions at any time in chat</li>
                <li>Share your own tips</li>
                <li>Let's learn together</li>
            </ol>
    </section>

    <section>
        <section>
            <h2>Start here: Measure</h2>
            <p>
                You can't improve what you don't measure
            </p>
        </section>
        <section>
            <h3>Look at change lead time</h3>
            <table class="fragment">
                <thead>
                    <tr>
                        <th>Bucket</th>
                        <th>Definition</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="fragment">
                    <td>
                        Coding time
                    </td>
                    <td>
                        First commit to PR created
                    </td>
                </tr>
                <tr class="fragment">
                    <td>
                        Review lag time
                    </td>
                    <td>
                        Waiting for the first review
                    </td>
                </tr>
                <tr class="fragment">
                    <td>
                        Review time
                    </td>
                    <td>
                        First review to merge
                    </td>
                </tr>
                <tr class="fragment">
                    <td>
                        Deploy time
                    </td>
                    <td>
                        Merge to deployed to production
                    </td>
                </tr>
                </tbody>
            </table>
            <br />
            <h3 class="fragment">Find the biggest bucket!</h3>
        </section>
    </section>

    <section>
        <h3>Biggest bucket</h3>
        <ol>
            <li class="fragment">The whole lead time</li>
            <li class="fragment">The PR itself</li>
        </ol>
    </section>

    <section>
        <h3>What does that look like?</h3>
    </section>

    <section>
        <section>
            <h2>Next: Fix PR lag time</h2>
        </section>
        <section  data-background-image="{{ url_for('static', filename='images') }}/man-dispair.jpg">
            <h3>Don't burnout your best devs!</h3>
        </section>
        <section>
            <h3>Assign one reviewer</h3>
            <p>
                Everyone's job means no ones job
            </p>
        </section>
        <section>
            <h3>Automate, automate, automate</h3>
            <pre data-id="code-animation"><code data-line-numbers="|1|3|5|7|9|" class="hljs"
                                                data-trim
                                                data-line-numbers>
*       @global-owner1 @global-owner2

*.js    @js-owner

*.txt @octo-org/octocats

/build/logs/ @doctocat

/apps/github
            </code>
            </pre>
            <p class="fragment">
                Github, Gitlab, Bitbucket (server)...
            </p>
            <p class="fragment">
                ... no Bitbucket cloud <img style="vertical-align: middle" src="{{ url_for('static', filename='images')
                    }}/sad-panda.jpeg"
                                            height="100">
            </p>
        </section>
    </section>

    <section>
        <section>
            <h2>Finally: Keep them small and focused</h2>
            <p>
                Small and fast, easy and quick
            </p>
        </section>
        <section>
            <h3>Use a PR/MR policy</h3>
            <p class="fragment">Define up front:</p>
            <ul>
                <li class="fragment">How to assign reviewers</li>
                <li class="fragment">Types of valid feedback</li>
                <li class="fragment">How to respond to feedback</li>
                <li class="fragment">When and who to merge</li>
            </ul>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images') }}/sleuth-pr-policy.png">
        </section>
        <section>
            <h3>Tackle large PRs at their source</h3>
            <p>
                Split up tasks correctly and encourage tech specs for large ones
            </p>
        </section>
        <section>
            <img src="{{ url_for('static', filename='images') }}/tech-spec.png">
        </section>
    </section>

    <section>
        <h2>Takeaway: PRs don't have to suck</h2>
        <p>
            A good PR process is the backbone of an elite team
        </p>
    </section>

    <section>
        <h2>Q&A: What PR tips have you picked up?</h2>
        <p>
            Share in chat!
        </p>
    </section>

{% endblock %}
            