
{% extends "slides_master.html" %}
            {% block title %}Myths of software dev over 40 - tech talk/discussion{% endblock %}
{% block content %}
            
            <section>
                <h2>Myths of software dev over 40 - tech talk/discussion</h2>
                <small>Don Brown<br />CTO/Co-founder, Sleuth</small>
            </section>
                            
<section>
    <h2>Myths of software dev over 40</h2>
    <p>
    Yes, there is life after 40
    </p>
</section>
                
<section>
    <h2>#1 - Hard to get a job</h2>
    <p>
    Blah
    </p>
</section>
                
{%  endblock %}
            