
{% extends "slides_master.html" %}
            {% block title %}Secrets to a delightful(!) pull request process{% endblock %}
{% block content %}
            
            <section>
                <h2>Secrets to a delightful(!) pull request process</h2>
                <small>Don Brown<br />CTO/Co-founder, Sleuth</small>
            </section>
                            
<section>
    <h2>Secrets to a delightful(!) PR process</h2>
    <p>
    Why does it take so much time?
    </p>
</section>
                
<section>
    <h2>What are pull requests?</h2>
    <p>
    Do we even need them?
    </p>
</section>
                
<section>
    <h2>1. Measure</h2>
    <p>
    You can't improve what you don't measure
    </p>
</section>
                
<section>
    <h2>2. Focus on the biggest bucket</h2>
    <p>
    Is it waiting, reviewing, or merging?
    </p>
</section>
                
<section>
    <h2>3. Only assign one person</h2>
    <p>
    Everyone's job means no ones job
    </p>
</section>
                
<section>
    <h2>4. Consider domain and tech expertise</h2>
    <p>
    One domain expert, one tech expert
    </p>
</section>
                
<section>
    <h2>5. Automate the small stuff</h2>
    <p>
    Stop the nitpicking comments on spacing!
    </p>
</section>
                
<section>
    <h2>6. Spec big things ahead of time</h2>
    <p>
    Reviews shouldn't be a surprise
    </p>
</section>
                
<section>
    <h2>7. Keep them small</h2>
    <p>
    Think "byte-sized" #dadjoke
    </p>
</section>
                
<section>
    <h2>8. Take it off line</h2>
    <p>
    Keep the heat out of the review
    </p>
</section>
                
<section>
    <h2>9. Automate deployment</h2>
    <p>
    Automation the end and work backwards
    </p>
</section>
                
<section>
    <h2>10. Automate merging</h2>
    <p>
    Ship when ready, not when you get around to it
    </p>
</section>
                
<section>
    <h2>Takeaway: PRs don't have to suck</h2>
    <p>
    A good PR process is the backbone of an elite team
    </p>
</section>
                
<section>
    <h2>Q&A: What PR tips have you picked up?</h2>
    <p>
    Share in chat and use '$quote'
    </p>
</section>
                
{%  endblock %}
            