
{% extends "slides_master.html" %}
            {% block title %}Tips to code faster (and which tips to avoid!){% endblock %}
{% block content %}
            
            <section>
                <h2>Tips to code faster (and which tips to avoid!)</h2>
            </section>
                            
<section>
    <h2>Tips to code faster</h2>
    <p>
    ... and what tips to avoid!
    </p>
</section>
                
<section>
    <h2>Tip: Learn to type properly</h2>
    <p>
    but speed doesn't matter
    </p>
</section>
                
<section>
    <h2>Bad Tip: Expensive keyboards pay off</h2>
    <p>
    Fun yes, but not faster
    </p>
</section>
                
<section>
    <h2>Tip: Stay away from the mouse</h2>
    <p>
    Keyboard shortcuts ftw
    </p>
</section>
                
<section>
    <h2>Tip: Pair programming</h2>
    <p>
    Hard to do remotely, but possible
    </p>
</section>
                
<section>
    <h2>Tip: Find the flow and stay in it</h2>
    <p>
    Avoid meetings and distractions
    </p>
</section>
                
<section>
    <h2>Bad Tip: Avoid ALL meetings</h2>
    <p>
    Coding the wrong thing fast is worse
    </p>
</section>
                
<section>
    <h2>Tip: Use tech specs for big projects</h2>
    <p>
    Again, make sure you are coding to the right problem
    </p>
</section>
                
<section>
    <h2>Tip: Use Java (or something like it)</h2>
    <p>
    Compilers and refactoring tools are huge
    </p>
</section>
                
<section>
    <h2>Tip: Forget the code style wars</h2>
    <p>
    Consistency and automation over squabbling and effort
    </p>
</section>
                
<section>
    <h2>Tip: Get it right</h2>
    <p>
    90% of time is spent on maintenance
    </p>
</section>
                
{%  endblock %}
            