
{% extends "slides_master.html" %}
            {% block title %}What failure looks like: a real-world incident post-mortem and discussion{% endblock %}
{% block content %}
            
            <section>
                <h2>What failure looks like: a real-world incident post-mortem and discussion</h2>
            </section>
                            
<section>
    <h2>What failure looks like</h2>
    <p>
    A real-world incident post-mortem
    </p>
</section>
                
<section>
    <h2>The smoke before the fire</h2>
    <p>
    What are these new errors?
    </p>
</section>
                
<section>
    <h2>The world is on fire</h2>
    <p>
    What is the customer impact?
    </p>
</section>
                
<section>
    <h2>Fix 1 - Stop the bleeding</h2>
    <p>
    How do we get back to mostly working?
    </p>
</section>
                
<section>
    <h2>Fix 2 - Resolve the incident</h2>
    <p>
    How do we get back to normal?
    </p>
</section>
                
<section>
    <h2>Fix 3 - Prevent this class of failure</h2>
    <p>
    How do we ensure this never happens again?
    </p>
</section>
                
<section>
    <h2>Final thoughts</h2>
    <p>
    Failure happens, so deal with it
    </p>
</section>
                
{%  endblock %}
            