
{% extends "slides_master.html" %}
            {% block title %}Why GraphQL is the next SOAP (it's a good thing!){% endblock %}
{% block content %}
            
            <section>
                <h2>Why GraphQL is the next SOAP (it's a good thing!)</h2>
            </section>
                            
<section>
    <h2>Why GraphQL is the next SOAP (it's a good thing!)</h2>
    <p>
    That's right - a GOOD thing!
    </p>
</section>
                
<section>
    <h2>What problem are we trying to solve?</h2>
    <p>
    And no, it isn't to fund consultancies
    </p>
</section>
                
<section>
    <h2>What is SOAP?</h2>
    <p>
    A (very) brief history of SOAP
    </p>
</section>
                
<section>
    <h2>What did SOAP get right?</h2>
    <p>
    Other than that catchy name
    </p>
</section>
                
<section>
    <h2>1. Text-based</h2>
    <p>
    Easily debuggable, can roll by hand
    </p>
</section>
                
<section>
    <h2>2. Structured content</h2>
    <p>
    Envelope -> [Header, Body, Fault]
    </p>
</section>
                
<section>
    <h2>3. Extensible</h2>
    <p>
    For its faults, XML is as it says, extensible
    </p>
</section>
                
<section>
    <h2>4. HTTP-friendly</h2>
    <p>
    Works with firewalls, which we take for granted now
    </p>
</section>
                
<section>
    <h2>5. Self-describing</h2>
    <p>
    Discover what endpoints and what they take automatically
    </p>
</section>
                
<section>
    <h2>Ok, so why did SOAP fail?</h2>
    <p>
    How much time you got? :)
    </p>
</section>
                
<section>
    <h2>'REST' is better in every way, right?</h2>
    <p>
    What even is REST?
    </p>
</section>
                
<section>
    <h2>GraphQL is the spiritual successor of SOAP</h2>
    <p>
    Everything you want, nothing you don't
    </p>
</section>
                
<section>
    <h2>1. Text-based</h2>
    <p>
    Yup, test with curl or wget
    </p>
</section>
                
<section>
    <h2>2. Structured content</h2>
    <p>
    HTTP headers, query, mutations, errors
    </p>
</section>
                
<section>
    <h2>3. Extensible</h2>
    <p>
    Use headers to layer, directives to extend
    </p>
</section>
                
<section>
    <h2>4. HTTP-friendly</h2>
    <p>
    Yup, and this time, HTTP only
    </p>
</section>
                
<section>
    <h2>5. Self-describing</h2>
    <p>
    Introspection, validation, even built-in playground
    </p>
</section>
                
<section>
    <h2>Why GraphQL is even better</h2>
    <p>
    The apprentice has become the master
    </p>
</section>
                
<section>
    <h2>1. No more XML!</h2>
    <p>
    Ok, this is an easy one
    </p>
</section>
                
<section>
    <h2>2. Batching by default</h2>
    <p>
    Request only what you want
    </p>
</section>
                
<section>
    <h2>3. Observability dream</h2>
    <p>
    Know what fields and even arguments are used
    </p>
</section>
                
<section>
    <h2>4. Eliminate N+1 queries</h2>
    <p>
    Get a book, its authors, and their books
    </p>
</section>
                
<section>
    <h2>5. Just enough specification</h2>
    <p>
    SOAP was too much, REST too little, GraphQL just right
    </p>
</section>
                
<section>
    <h2>Getting started resources</h2>
    <p>
    It isn't hard, really
    </p>
</section>
                
<section>
    <h2>Conclusions</h2>
    <p>
    Learn from the past, but do better
    </p>
</section>
                
<section>
    <h2>Questions?</h2>
    <p>
    Let's talk more about how awesome SOAP was
    </p>
</section>
                
{%  endblock %}
            