
{% extends "slides_master.html" %}
            {% block title %}Why you should fire your ops team{% endblock %}
{% block content %}
            
            <section>
                <h2>Why you should fire your ops team</h2>
            </section>
                            
<section>
    <h2>Welcome!</h2>
    <p>
    Let's get spicy
    </p>
</section>
                
<section>
    <h2>What is an Ops team?</h2>
    <p>
    I miss the term 'SysOp'
    </p>
</section>
                
<section>
    <h2>Ops hides your pains</h2>
    <p>
    Pain is key to learning
    </p>
</section>
                
<section>
    <h2>Ops handoffs are error-prone</h2>
    <p>
    The more devs can take it end to end, the better
    </p>
</section>
                
<section>
    <h2>Ops shows you down</h2>
    <p>
    Research shows dev-driven, faster deployments rule
    </p>
</section>
                
<section>
    <h2>Ops makes devs (the bad kind of) lazy</h2>
    <p>
    Devs focus on closing tickets rather than delivering value
    </p>
</section>
                
<section>
    <h2>Ops just sucks</h2>
    <p>
    Who wants to fight fires and clean up other people's messes?
    </p>
</section>
                
<section>
    <h2>Solution: DevOps</h2>
    <p>
    Mix devs and operations together from both sides
    </p>
</section>
                
<section>
    <h2>Ops -> Operational Platform</h2>
    <p>
    Ops owns the operational platform. Devs own what's on top.
    </p>
</section>
                
<section>
    <h2>Devs -> YBIYRUI</h2>
    <p>
    You build it, you run it
    </p>
</section>
                
<section>
    <h2>Takeaway: Stop dumping on Ops</h2>
    <p>
    Automate, empower, and collaborate
    </p>
</section>
                
{%  endblock %}
            